services:
  backend:
    build:
      context: .
      dockerfile: scripts/dockerfile/${DOCKERFILE}
    container_name: api
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      MONGODB_URI: ${MONGODB_URI}
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - app_network
    depends_on: # Dépendances de démarrage pour le service
      - mongo

  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "${MONGO_PORT}:${MONGO_PORT}"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

volumes:
  mongo_data:
networks:
  app_network: