services:
  backend:
    build:
      context: .
      dockerfile: scripts/dockerfile/${DOCKERFILE}
    container_name: api
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    networks:
      - app_network
    depends_on:
      - mongo

  mongo:
    image: mongo:8
    container_name: mongodb
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    ports:
      #PORTHOTE/PORTCONTENEUR
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

volumes:
  mongo_data:
networks:
  app_network: